.section {
  padding: 85px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-dark);
  background-image: url('../../assets/images/prices@1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 40px;
  }
}
@media screen and (min-width: 1600px) {
  .section {
    padding: 120px 215px;
  }
}

.pricesContainer {
  display: flex;
  flex-direction: column;
  width: 690px;
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .pricesContainer {
    display: none;
  }
}

/* wspólny styl dla bloków cen */
.blockLeft,
.blockRight {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 32px 34px;
  color: var(--alt-text);
}

/* ciemniejszy prawy blok */
.blockRight {
  background-color: rgba(0, 0, 0, 0.65);
}

.priceBlock {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 2;
}

/* desktop – dwa bloki w rzędzie */
@media screen and (min-width: 1600px) {
  .pricesWrapper {
    flex-direction: row;
    gap: 40px;
  }

  .blockLeft,
  .blockRight {
    width: 50%;
    margin-top: 0;
  }
}

.subtextWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.line {
  width: 60px;
  height: 1px;
  background-color: var(--alt-text);
}

.subtext {
  color: var(--alt-text);
  text-transform: uppercase;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
}

.title {
  color: var(--alt-title);
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 5%;
  margin-bottom: 575px;
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1600px) {
  .title {
    font-size: 42px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  color: var(--alt-title);
  text-transform: capitalize;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 9%;
  padding: 12px 20px;
  max-width: 160px;
  background-color: transparent;
  border: 1px solid var(--highlight);
  border-radius: 25px;
}
