.section {
  padding: 85px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-dark);
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 40px;
  }
}
@media screen and (min-width: 1600px) {
  .section {
    padding: 120px 30px 190px 215px;
    width: 800px;
    height: 630px;
    justify-content: flex-start;
  }
}

.title {
  color: var(--alt-title);
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 5%;
  margin-bottom: 30px;
}
@media screen and (min-width: 1600px) {
  .title {
    font-size: 42px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .wrapContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .wrapContainer .formGroup {
    flex: 1 1 0;
  }
}

.formGroup {
  position: relative;
  margin-bottom: 30px;
}

input,
textarea {
  width: 100%;
  color: var(--alt-title);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 10%;
  padding: 12px 0 8px 0;
  border: none;
  border-bottom: 1px solid var(--alt-text);
  background: transparent;
  outline: none;
}

input:focus,
textarea:focus {
  border-bottom-color: var(--alt-title);
  color: var(--alt-title);
}

label {
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 16px;
  color: var(--alt-text);
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Kiedy input jest aktywny lub zawiera tekst, label się przesuwa i zmniejsza */
input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: var(--alt-title);
}

.buttonFlex {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .buttonFlex {
    justify-content: start;
  }
}

.button {
  color: var(--alt-title);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 9%;
  padding: 12px 20px;
  width: 160px;
  background-color: transparent;
  border: 1px solid var(--highlight);
  border-radius: 25px;
}

button:hover {
  color: var(--alt-title);
  background-color: var(--highlight);
  cursor: pointer;
}
