.section {
  padding: 85px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-light);
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 40px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1600px) {
  .section {
    padding: 120px 215px;
    justify-content: flex-start;
  }
}

.imagesContainer {
  margin-right: 30px;
}

.tablet {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .tablet {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .tablet {
    display: none;
  }
}

.desktop {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media screen and (max-width: 1599px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .informationContainer {
    width: 330px;
  }
}
@media screen and (min-width: 1600px) {
  .informationContainer {
    width: 470px;
  }
}

.subtextWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.line {
  width: 60px;
  height: 1px;
  background-color: var(--title);
}

.subtext {
  color: var(--title);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
}

.title {
  color: var(--title);
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 5%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1600px) {
  .title {
    font-size: 42px;
  }
}

.text {
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 26px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}

.button {
  padding: 12px 20px;
  max-width: 160px;
  background-color: transparent;
  border: 1px solid var(--highlight);
  border-radius: 25px;
}

.btnLink {
  color: var(--title);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 9%;
}

.button:hover,
.button:focus {
  color: var(--alt-title);
  background-color: var(--highlight);
  cursor: pointer;
}
