.section {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-light);
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 40px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .section {
    padding: 60px 215px;
  }
}

.subtextWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subtextWrapper {
    margin-bottom: 0px;
  }
}

.line {
  width: 60px;
  height: 1px;
  background-color: var(--title);
}

.subtext {
  color: var(--title);
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
}

.subtext:hover {
  color: var(--highlight);
}

.textWrapper {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.icon {
  color: var(--alt-text);
  width: 12px;
  height: 12px;
}

.text {
  color: var(--alt-text);
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 20%;
  line-height: 100%;
}
