.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .page {
    width: 1440px;
  }
}
@media screen and (min-width: 1600px) {
  .page {
    width: 1600px;
  }
}

@media screen and (min-width: 1600px) {
  .flexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
