.section {
  padding: 85px 30px 55px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-shaded);
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 160px 70px 160px;
  }
}
@media screen and (min-width: 1600px) {
  .section {
    padding: 120px 215px 90px 215px;
  }
}

.subtextWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.line {
  width: 60px;
  height: 1px;
  background-color: var(--title);
}

.subtext {
  color: var(--title);
  text-transform: uppercase;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
}

.title {
  color: var(--title);
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 5%;
  margin-bottom: 45px;
}
@media screen and (min-width: 1600px) {
  .title {
    font-size: 42px;
  }
}

.barbersList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1600px) {
  .barbersList {
    flex-direction: row;
  }
}

.barberContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 100%;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 264px;
}

.barberInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--title);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.role {
  color: var(--highlight);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2%;
  margin-bottom: 8px;
  margin-bottom: 30px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: var(--bg-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialLink:hover,
.socialLink:focus,
.socialLink:active {
  background-color: var(--ocean);
}

.socialIcon {
  width: 20px;
  height: 20px;
  fill: var(--title);
}

.socialLink:hover,
.socialLink:focus,
.socialLink:active {
  fill: var(--highlight);
}
